.download {
  background-color: #1d2631;
  padding-top: 25px;
  padding-bottom: 30px;
  text-align: center;
}
.download__wrapper {
  .container-fluid();
}
.download__title {
  display: none;
}
.download__btn {
  .btn(100%, 30px);
  margin-bottom: 25px;
  border-radius: 50px;
}
.download__platforms {
  display: flex;
  justify-content: center;
  align-items: center;
    a {
      margin: 0 15px;
    }
}
.download__description {
  font-size: 14px;
  font-weight: 300;
}

@media @tablet {
  .download {
    .container(620px);
    background-color: transparent;
    position: relative;
  }
  .download__wrapper {
    width: 300px;
    position: absolute;
    top: -150px;
      }
  .download__title {
    display: block;
    font-size: 40px;
    font-weight: light;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 35px;
      }
  .download__btn {

      }
  .download__description {
    font-size: 18px;
      }
}
