.main-header {
  height: 560px;
  background-color: @blue-grey;
  padding: 0;
  color: #fff;
    &__wrapper {
      .clearfix();
      .container();
      height: 70px;
      border-bottom: 1px solid #000;
    }
    &__logo {
      float: left;
      width: 140px;
    }
    &__open-nav {
      float: right;
      width: 140px;
    }
}
